:root{
    --cl-border: #101010;
    --cl-text: #0f0f0f;
    --cl-text-white: #f0f0f0;
    --cl-title : #1f1f1f;
    --cl-body: #efefef;
    --cl-header: #2f2f2f;
    --cl-footer: #dfdfdf;
    --cl-button: #657ed6;
    --cl-text-button : #f0f0f0;
    --font-sans-serif: "Segoe UI","Helvetica Neue","Noto Sans","Liberation Sans",
                    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
}


body{
    background-color: var(--cl-body);
    font-family: var(--font-sans-serif);
    color: var(--cl-text);
}

header{
    background-color: var(--cl-header);
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 20px 10px;
    color: var(--cl-text-white);
}

main{
    display: flex;
    align-items: center;
    flex: 2 1 100px;
    flex-flow: column;
    width: 90%;
    margin: 5%;
    margin-top: 1%;
    margin-bottom: 2%;
}

footer{
    flex: 0 1 10px;
    background-color: var(--cl-footer);
    text-align: center;
}

.ligne{
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    border-top: solid #9b9b9b;
    border-width: thin;
}

/*<---Header--->*/

#name-serv{
    position: relative;
    margin: 0;
    margin-left: 40px;
    top: 10px;
    font-size: 62px;
}

#servdesc{
    position: relative;
    margin: 0;
    font-size: 30px;
    text-align: center;
}

#logoswa{
    position: absolute;
    right: 20px;
    top: 15px;
}

/*<---Main--->*/

.inv{
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.inv-button{
    position: relative;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    background-color: var(--cl-button);
    outline: none;
    text-decoration: none;
}

.inv-text{
    font-size: 25px;
    color: var(--cl-text-button);
    margin: 1px;
}

#modifMember{
    display: flex;
    gap: 0% 4%;
    width: 100%;
    justify-content: center;
}

.textForm{
    font-size: 20px;
}

.openForm{
    background-color: var(--cl-button);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: var(--cl-text-button);
}

.form{
    height: auto;
    font-size: 15px;
    align-self: center;
}


.form label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.form input{
    text-align: left;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid var(--cl-border);
    box-shadow: 1px 1px 1px #999;
}

input::placeholder{
    text-align: center;
}

in

textarea::placeholder{
    text-align: center;
    position: relative;
    top: 30%;
}

#join{
    text-align: center;
}

.form textarea {
    text-align: left;
    height: 55px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid var(--cl-border);
    box-shadow: 1px 1px 1px #999;
    resize: none;
}

.submitForm{
    background-color: var(--cl-button);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: var(--cl-text-button);
}

.box{
    display: inline-block;
    flex: 0 0 auto;
    vertical-align: top;
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    text-align: center;
    align-items: center;
}

.formbox{
    padding: 10px;
    flex: 1;
}

.msgModif{
    font-size: 19px;
}

.check{
    width: 3%;
    margin-left: 1%;
    margin-right: 1%;
    color: green;
    
}

#showMember{
    margin-top: 10px;
    width: 90%;
}


#boxsearchbar{
    margin-top: 5px;
    align-items: center;
    text-align: center;
}

#searchbar{
    width: 25%;
    border-radius: 5px;
    border: solid black 1px;
}

#boxShowMember{
    padding: 5px;
}

.boxMember{
    display: inline-block;
    vertical-align: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 45%;
    height: 20%;
}

/*<---Footer--->*/

#contact{
    padding: 8px;
    padding-bottom: 0;
    font-size: 20px;
}

.info{
    padding: 5px;
    padding-bottom: 0;
}

#logogithub{
    color: var(--cl-text);
}

#logotwitter{
    color: var(--cl-text);
}