:root{
    --cl-text: #0f0f0f;
    --cl-text-white: #f0f0f0;
    --cl-title : #1f1f1f;
    --cl-body: #efefef;
    --cl-header: #2f2f2f;
    --cl-footer: #dfdfdf;
    --cl-button: #657ed6;
    --cl-text-button : #f0f0f0;
    --font-sans-serif: "Segoe UI","Helvetica Neue","Noto Sans","Liberation Sans",
                    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html, body{
    height: 100%;
    margin: 0;
}


body{
    background-color: var(--cl-body);
    font-family: var(--font-sans-serif);
    color: var(--cl-text);
}

header{
    background-color: var(--cl-header);
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 20px 10px;
    color: var(--cl-text-white);
}

main{
    width: 90%;
    margin: 5%;
    margin-top: 1%;
}

footer{
    position: relative;
    background-color: var(--cl-footer);
    text-align: center;
}

.ligne{
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    border-top: solid #9b9b9b;
    border-width: thin;
}

/*<---Header--->*/

#name-serv{
    position: relative;
    margin: 0;
    margin-left: 40px;
    top: 10px;
    font-size: 62px;
}

#servdesc{
    position: relative;
    margin: 0;
    font-size: 30px;
    text-align: center;
}

#logoswa{
    position: absolute;
    right: 20px;
    top: 15px;
}

/*<---Main--->*/

.inv{
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.inv-button{
    position: relative;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    right: 19px;
    background-color: var(--cl-button);
    outline: none;
    text-decoration: none;
}

.inv-text{
    font-size: 25px;
    color: var(--cl-text-button);
    margin: 1px;
}

.textForm{
    font-size: 20px;
}

.openForm{
    background-color: var(--cl-button);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: var(--cl-text-button);
}

.form{
    font-size: 15px;
}


.form label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.form input{
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.form textarea {
    align-items: center;
    text-align: center;;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.submitForm{
    background-color: var(--cl-button);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: var(--cl-text-button);
}

#ajout_membre{
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    width: 40%;
    max-width: 28.5em;
    text-align: center;
    margin-right: 5%;
    margin-left: 10%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}

#retireMembre{
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    width: 40%;
    max-width: 28.5em;
    text-align: center;
    margin-left: 13%;
    margin-right: 10%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}

/*<---Footer--->*/

#contact{
    padding: 8px;
    font-size: 20px;
}

.info{
    padding: 5px;
    padding-bottom: 0;
}

#logogithub{
    color: var(--cl-text);
}

#logotwitter{
    color: var(--cl-text);
}